<?xml version="1.0" encoding="utf-8" ?>
<autofac>
  <components>
    <component type="Flight.Product.Utility.RedisCacheProvider, Flight.Product.Utility"
               service="Flight.Product.Utility.ICacheProvider,Flight.Product.Utility">
      <parameters>
        <!--构造函数参数列表-->
        <parameter name="redisServerIP" value="redis:uuid845tylabc123@139.198.13.12:4125" />
      </parameters>
      <properties>        
        <!--属性注入-->
        <property name="RedisServerIP" value="redis:uuid845tylabc123@139.198.13.12:8888"/>
      </properties>
    </component>
    <!-- 注册单例对象-->
    <!--<component type="Flight.Product.Utility.LocalCacheProvider, Flight.Product.Utility"
               service="Flight.Product.Utility.ICacheProvider,Flight.Product.Utility" instance-scope="single-instance">
    </component>-->
    <component type="Flight.Product.Utility.LocalCacheProvider, Flight.Product.Utility"
               service="Flight.Product.Utility.ICacheProvider,Flight.Product.Utility">
    </component>
  </components>
</autofac>